**Import the libraries**

In [2]:
#Ill first import the libraries for the project
import pandas as pd

import numpy as np

**Load the datasets**

In [6]:
#Ill use the read.csv to load the datasets
df = pd.read_csv('http://bit.ly/autolib_dataset')
#First 10 rows
df.head(11)

                               Address  Cars  ...  hour  minute
0                  2 Avenue de Suffren     0  ...    11      43
1            145 Rue Raymond Losserand     6  ...     7      24
2     2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3               51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4   6 avenue de la Porte de Champerret     3  ...    17      23
5                 8 Boulevard Voltaire     0  ...     7       2
6                       37 rue Leblanc     0  ...    18      20
7          17 Rue des Luaps ProlongÃ©e     3  ...    22      13
8                34 avenue Jean Moulin     1  ...    22      58
9         41 boulevard de Rochechouart     6  ...    15       2
10                      14 rue Censier     0  ...     4      39

[11 rows x 25 columns]

# ***2. Explore the file***

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# ***3.Data Cleaning***

In [8]:
#Ill first check the columns if their is uniformity
df.columns

Index(['Address', 'Cars', 'Bluecar counter', 'Utilib counter',
       'Utilib 1.4 counter', 'Charge Slots', 'Charging Status', 'City',
       'Displayed comment', 'ID', 'Kind', 'Geo point', 'Postal code',
       'Public name', 'Rental status', 'Scheduled at', 'Slots', 'Station type',
       'Status', 'Subscription status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [17]:
#After checking the columns, I've noticed their are unnecessary columns
#Ill then procced to drop them

df = df.drop(['Geo point', 'Displayed comment',
                  'Subscription status', 'year', 'month','ID','Cars'], axis=1)
#df.head()
df
#I omitted head() function on the df

<bound method NDFrame.head of                                  Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 18 columns]>

In [20]:
# Previewing if the columns were dropped
df.head(5)

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 18 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Address             5000 non-null   object
 1   Bluecar counter     5000 non-null   int64
 2   Utilib counter      5000 non-null   int64
 3   Utilib 1.4 counter  5000 non-null   int64
 4   Charging Status     5000 non-null   object
 5   City                5000 non-null   object
 6   Kind                5000 non-null   object
 7   Postal code         5000 non-null   int64
 8   Public name         5000 non-null   object
 9   Rental status       5000 non-null   object
 10  Scheduled at        47 non-null     object
 11  Slots               5000 non-null   int64
 12  Station type        5000 non-null   object
 13  Status              5000 non-null   object
 14  day                 5000 non-null   int64
 15  hour                5000 non-null   int64
 16  minute              5000 non-null   int64
dtypes: int64(8), object(9)
memory usage: 664.2+ KB

In [24]:
#Checking the shape of the dataset
df.shape
#Their are 5000 rows and 17 columns

(5000, 17)

In [25]:
#Ill then check for nulls in the dataset
df.isnull().sum()
#The isnull function  cleans the nulls and finally sum it

Address                  0
Bluecar counter          0
Utilib counter           0
Utilib 1.4 counter       0
Charging Status          0
City                     0
Kind                     0
Postal code              0
Public name              0
Rental status            0
Scheduled at          4953
Slots                    0
Station type             0
Status                   0
day                      0
hour                     0
minute                   0
dtype: int64

In [27]:
#Ill then procced to drop column 'Schedule at' since it has a huge null number.
df = df.drop(['Scheduled at',],axis=1)
df

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 16 columns]

In [28]:
#Ill then check for nulls again
df.isnull().sum()
#Their are no nulls

Address               0
Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charging Status       0
City                  0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Station type          0
Status                0
day                   0
hour                  0
minute                0
dtype: int64

In [29]:
#Ill then convert the column names to lowercase for unifotmity
df.columns = df.columns.str.lower()
df.head()

                              address  bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 16 columns]

In [61]:
df.notnull().sum()

address               2816
bluecar counter       2816
utilib counter        2816
utilib 1.4 counter    2816
charging status       2816
city                  2816
kind                  2816
postal code           2816
public name           2816
rental status         2816
slots                 2816
station type          2816
status                2816
day                   2816
hour                  2816
minute                2816
bluecar_Difference    2815
bluecar_difference    2815
dtype: int64

In [62]:
#Ill then check for duplicates
df.duplicated().sum()

0

# ***3.DATA ANALYSIS***

In [30]:
#Previewing my new cleaned dataset
df.head()

                              address  bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 16 columns]

***Question 1. Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.***

In [71]:

Gk= df[df['city'] =='Paris'] 

Gk.head()

                              address  ...  bluecar_difference
0                 2 Avenue de Suffren  ...                 NaN
1           145 Rue Raymond Losserand  ...                 6.0
3              51 Rue EugÃ¨ne OudinÃ©  ...                -3.0
4  6 avenue de la Porte de Champerret  ...                 0.0
5                8 Boulevard Voltaire  ...                -3.0

[5 rows x 18 columns]

In [73]:
Gk = df[df['city'] == 'Paris']
Gk

                                 address  ...  bluecar_difference
0                    2 Avenue de Suffren  ...                 NaN
1              145 Rue Raymond Losserand  ...                 6.0
3                 51 Rue EugÃ¨ne OudinÃ©  ...                -3.0
4     6 avenue de la Porte de Champerret  ...                 0.0
5                   8 Boulevard Voltaire  ...                -3.0
...                                  ...  ...                 ...
4992                     3 avenue d'Ivry  ...                 0.0
4994                    15 rue de Rocroy  ...                 0.0
4996                   37 rue de Dantzig  ...                 4.0
4997                      142 rue du Bac  ...                -3.0
4999                 5 Rue Henry Brisson  ...                 3.0

[2816 rows x 18 columns]

In [74]:
y = Gk.groupby(['public name', 'hour'])[['bluecar counter']].sum()
y.head()

                            bluecar counter
public name           hour
Paris/25 AoÃ»t 1944/8 3                   3
                      5                   0
                      7                   4
                      12                  2
                      18                  2

In [75]:
y['bluecar_usage'] = y['bluecar counter'].diff()

y.head()

                            bluecar counter  bluecar_usage
public name           hour
Paris/25 AoÃ»t 1944/8 3                   3            NaN
                      5                   0           -3.0
                      7                   4            4.0
                      12                  2           -2.0
                      18                  2            0.0

**utilib question**

In [81]:
vv= df.groupby(['public name', 'hour'])[['utilib counter']].sum()
vv

                               utilib counter
public name              hour
Paris/25 AoÃ»t 1944/8    3                  0
                         5                  0
                         7                  0
                         12                 0
                         18                 0
...                                       ...
Paris/Ãtienne Marcel/36 15                 0
                         20                 0
                         23                 0
Paris/Ãvangile/45       4                  0
                         9                  0

[2580 rows x 1 columns]

In [83]:
df['utilib_usage'] = df['utilib counter'].diff()
df

                                 address  ...  utilib_usage
0                    2 Avenue de Suffren  ...           NaN
1              145 Rue Raymond Losserand  ...           0.0
3                 51 Rue EugÃ¨ne OudinÃ©  ...           1.0
4     6 avenue de la Porte de Champerret  ...          -1.0
5                   8 Boulevard Voltaire  ...           0.0
...                                  ...  ...           ...
4992                     3 avenue d'Ivry  ...           0.0
4994                    15 rue de Rocroy  ...           0.0
4996                   37 rue de Dantzig  ...           0.0
4997                      142 rue du Bac  ...           0.0
4999                 5 Rue Henry Brisson  ...           0.0

[2816 rows x 19 columns]